* {
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(275, 100%, 97%);
}

.BackgroundBody {
    width: 100%;
    position: fixed;
    background-image: url("./assets/images/background-pattern-desktop.svg") repeat;
    height: 400px;

    img {
        width: 100%;
    }
}

.container {
    border-radius: 20px;
    background-color: white;
    margin: 15% 35%;
    padding: 25px;
    text-align: justify;
    position: absolute;
}

.cabecalho {
    display: flex;
    margin-bottom: 25px;
}

h1 {
    padding-left: 25px;
    font-size: 45px;
}

hr {
    margin: 15px 0 15px 0;
}

summary {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

summary:hover {
    cursor: pointer;
    color: blueviolet;
}

summary img {
    padding-left: 20px;
    margin-top: 0;
}

p {
    color: gray;
    margin-top: 15px;
}

/* ----------------------- media -----------------------------------------*/

@media screen and (max-width: 600px) {

    .BackgroundBody {
        background-image: url("./assets/images/background-pattern-mobile.svg") repeat;

        img {
            width: 300%;
        }
    }

    .container {
        margin: 190px 30px;
        border-radius: 7px;
    }

    .cabecalho {
        img {
            height: 30px;
        }
    }

    h1 {
        font-size: 35px;
    }

}